.main {
  text-align: center;
  margin-top: 50px;

  a.mat-stroked-button {
    margin-right: 10px;
  }

  sui-select.selection {
    width: 300px;
  }

  mat-spinner {
    margin-top: 11px;
    margin-right: 10px;
  }
}
