<div class="main">
  <h1>Welcome to the devtools</h1>
  <p>The current version still in beta mode. Please contact us to report any issue</p>
  <div class="tools">
    <a mat-stroked-button href="/api/v1/devtools/postman/doc?download=true">
      <i class="material-icons">
        cloud_download
      </i> Download postman doc
    </a>
    <a mat-stroked-button href="/api/v1/devtools/postman/environment?download=true">
      <i class="material-icons">
        cloud_download
      </i> Download postman variables
    </a>
  </div>
</div>
