
div.field {
  margin-top: 20px !important;

  .selection {
    width: 100%;
  }

  .checkbox {
    margin-top: 10px;
  }

  a.icon.circular.mini {
    font-size: 15px;
    padding-left: 11px;
    cursor: pointer;
  }

  .ui.labeled.input.pwd .label {
    padding-left: 10px;
    padding-right: 0px;

    i.icon.eye {
      cursor: pointer;
    }
  }
}
