mat-toolbar {
  color: #424242;

  .toolbar-icons {
    position: fixed;
    padding: 0;
    top: 0;
    z-index: 9999;
    padding-right: 100px;
    background-color: white;
    border-bottom: 1px solid #dedede73;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

select.selection {
  width: 230px;
  font-size: 14px;
  border-color: #e2e2e2;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.85);
  height: 35px;
  margin-top: 2px;
  padding-left: 5px;
}

.toolbar-icons button {
  color: #424242;
  background-color: #eee;
  margin-left: 13px;
}
