sui-tabset ::ng-deep {
  div.ui.menu.tabular {
    overflow-x: auto;
    overflow-y: hidden;
  }
}

form.ui.form {
  max-height: 350px;
  min-height: 350px;
  overflow-y: auto;
  max-width: initial;
}

.ui.top.attached.tabular.menu {
  .item:first-child {
    margin-left: -1px;
  }
}
