.cards {
  display: flex;
  flex-flow: row wrap;
  overflow: auto;
  box-sizing: unset;
  justify-content: flex-start;
  align-content: flex-start;
}

mat-card {
  width: 120px;
  height: 120px;
  margin: 15px;
  padding: 6px;
  border-radius: 10px;
  cursor: pointer;
}

mat-card-subtitle {
  word-break: break-all !important;
  text-align: center !important;
  height: 50px;
  padding: 2px;
}

mat-card-content {
  margin-top: 4px !important;
  margin-bottom: 6px;
}

.glyphicon {
  width: 100px;
  height: 60px;
  font-size: 60px;
}

.folder {
  color: #ffb300;
  text-shadow: 1px 2px 1px rgba(87, 86, 86, 0.582);
}

.file {
  color: #607d8b;
  text-shadow: 1px 2px 1px rgba(87, 86, 86, 0.582);
}

.controller {
  color: rgba(22, 43, 111, 0.911);
  text-shadow: 2px 0 2px #417298f3;
}

i.material-icons {
  width: 0px;
  height: 0px;
  position: relative;
}

.sync {
  bottom: 18px;
  right: 58px;
  margin-bottom: 15px;
  font-size: 16px;
  opacity: 0.6;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}

.redb {
  border-bottom: #e53935 3px solid;
}

.grayb {
  border-bottom: #424242 3px solid;
}

.greenb {
  border-bottom: #7cb342 3px solid;
}

.scanned {
  bottom: -6px;
  right: 38px;
  margin-bottom: 12px;
  color: red;
  border-radius: 40%;
}

.notScanned {
  bottom: -6px;
  right: 34px;
  margin-bottom: 12px;
  color: rgb(26, 182, 26);
}

.white {
  color: #fff !important;
}

.gray {
  color: #424242;
}

.lightGray {
  color: #9e9e9e;
}

.purple {
  color: #ba68c8;
}

.orange {
  color: #ff9800;
}

.red {
  color: #f44336;
}

.yellow {
  color: #ffeb3b;
}

.blue {
  color: #00b0ff;
}

.bgName {
  border-radius: 5px;
  background: #767676;
  padding: 3px 4px 4px 4px;
  margin: 2px;
}

.primaryColor {
  color: rgb(64, 84, 174);
}

.xSmall {
  font-size: 0.9em;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  border-top: 1px solid purple;
  border-color: #424242;
  background-color: #767676c2;
  color: purple;
}

mat-spinner {
  top: -36px;
  right: -53px;
  opacity: 0.9;
  margin-bottom: -19px;
}

.uploader-status ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: rgba(255, 255, 255, 0.849);
}

.margin {
  margin: 2px;
}

.button-edit {
  position: absolute;
  margin: -23px 0px 0px -10px;
}

.icon-edit {
  background-color: #e5e5e5;
  // rgba(189, 189, 189, 0.979);
  border-radius: 100px;
  color: rgb(66, 59, 59);
  font-size: 1.2em;
}
