h3 {
  margin-top: -10px;
  margin-bottom: 10px;

  i {
    font-size: 17px;
  }
}

.mat-dialog-content {
  max-height: 100%;
}

a.restart-server {
  color: #0000a9;
  margin: 0px 5px 0px 5px;
  cursor: pointer;
}

.success {
  float: right;
  margin-top: -30px;
  color: #8bc34a;
  display: inline-flex;

  i {
    font-size: 17px;
    margin-right: 5px;
    margin-top: 2px;
  }
}
